<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="/img/weather.png">
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p class="x">{{helpText}}</p>
        </div>
        {{>footer}}
    </body>
    
</html>